<section class="team_area">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="main_title">
                    <p>We’re Offering these Trip Packages</p>
                    <h1>Intelligent Team Members</h1>
                    <span class="title-widget-bg"></span>
                </div>
            </div>
        </div>
        <div class="row team_inner">
        {% for member in members %}
        <div class="col-lg-3 col-md-6">
            <div class="team_item">
                <div class="team_img">
                    <img class="img-fluid w-100" src="{{ member.photo.url }}" alt="" width="213" height="275">
                    <div class="hover">
                        <h4>{{ member.name }}</h4>
                        <p>{{ member.position }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</section>