{% extends 'main/base.html' %}

{% block body %}
    	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-center">
					<div class="banner_content">
						<h2>Log In</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Log In</button>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}