{% extends 'main/base.html' %}
{% load static %}
{% block body %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>About Us</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>


<!--================Home Banner Area =================-->
<section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content">
                <div class="page_link">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'about' %}">About Us</a>
                </div>
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start About Area =================-->
<section class="section_gap about-area">
    <div class="container">
        <div class="single-about row">
            <div class="col-lg-4 col-md-6 no-padding about-left">
                <div class="about-content">
                    <h1>
                        {{ about.text }} <br>
                    </h1>
                    <p>
                        {{ about.title }} <br>
                    </p>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 text-center no-padding about-right">
                <div class="about-thumb">
                    <img src="{{ about.photo.url }}" class="img-fluid info-img" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Area =================-->

<!--================ Start CTA Area =================-->
<div class="cta-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h1>Get Ready for
                    Real time Adventure</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
                </p>
                <a href="{% url 'booking' %}" class="primary-btn">Book a Trip</a>
            </div>
            <div class="offset-lg-1 col-lg-6">
                <img class="cta-img img-fluid" src="img/cta-img.png" alt="">
            </div>
        </div>
    </div>
</div>
<!--================ End CTA Area =================-->

<!--================Team Area =================-->
{% include 'Members/members.html' %}
<!--================End Team Area =================-->

<!--================ Start Popular Places Area =================-->
{% include 'popular places/popular_places.html' %}
<!--================ End Popular Places Area =================-->

<!--================ Start Testimonials Area =================-->
{% include 'testimonails/otzivi.html' %}
<!--================ End Testimonials Area =================-->



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stellar.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/owl-carousel-thumb.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="js/gmaps.min.js"></script>
<script src="js/theme.js"></script>
</body>

</html>
{% endblock %}