{% extends 'main/base.html' %}
{% load static %}
{% block body %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Book Trip</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>


<!--================Home Banner Area =================-->
<section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content">
                <div class="page_link">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'booking' %}">Book a Trip</a>
                </div>
                <h2>Book a Trip</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Book a Trip Area =================-->
<section class="trip-area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10">
                <div class="trip-form-section">
                    <h1>Book a Trip <br>
                        for your next Tour</h1>
                    <form class="trip-form-area trip-page-form trip-form text-right"
                          method="post">
                    {% csrf_token %}
                        <div class="form-group col-md-12">
                            <div class="form-select">
                                <select name="id">
                                    {% for tour in tours %}
                                    <option value="{{ tour.id }}">{{ tour.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
{#                            <input type="text" class="form-control" placeholder="Name"#}
{#                                   onfocus="this.placeholder = ''"#}
{#                                   onblur="this.placeholder = '{{ booking_form.name }}'">#}
                            {{ booking_form.name }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ booking_form.email }}
{#                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"#}
{#                                   onfocus="this.placeholder = ''"#}
{#                                   onblur="this.placeholder = ''">#}
                        </div>
                        <div class="form-group col-md-12">
                            {{ booking_form.number }}
{#                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Number"#}
{#                                   onfocus="this.placeholder = ''"#}
{#                                   onblur="this.placeholder = ''">#}
                        </div>

                        <div class="col-lg-12 text-center">
                            <input type="submit" value="Book Tour" class="primary-btn text-uppercase"
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Message'">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Book a Trip Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stellar.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/owl-carousel-thumb.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="js/gmaps.min.js"></script>
<script src="js/theme.js"></script>
</body>

</html>
{% endblock %}