<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Taxa Adventure</title>
    <!-- Bootstrap CSS -->
    {% include 'main/meta_header.html' %}

</head>
<body>

<!--================ Start Header Menu Area =================-->
{% include 'main/header.html' %}
<!--================ End Header Menu Area =================-->
{% block body %}
{% endblock %}

<!--================  Start Footer Area =================-->
{% include 'main/footer.html' %}
<!--================ End Footer Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'main/meta_footer.html' %}
</body>

</html>