{% load static %}
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                            {% if user.is_authenticated %}
							<li class="nav-item"><a class="nav-link" href="">{{ user.username }}</a></li>
                            {% else %}
							<li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">signup</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">logout</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">login</a></li>
                            {% endif %}
							<li class="nav-item"><a class="nav-link" href="{% url 'packages' %}">Packages</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
									<li class="nav-item"><a class="nav-link" href="{% url 'booking' %}">Book trip</a></li>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Tours</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="{% url 'tourlist' %}">All tours</a></li>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item">
								<a href="{% url 'booking' %}" class="primary-btn">Book a trip</a>
							</li>
							<li class="nav-item">
								<button type="button" class="search nav-link">
									<i class="lnr lnr-magnifier" id="search"></i>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="search_input" id="search_input_box">
				<div class="container">
					<form action="{% url 'search'  %}" class="d-flex justify-content-between" method="get">
						<input type="text" class="form-control" name="search" id="search_input" placeholder="Search Here">
						<button type="submit" class="btn"></button>
						<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
					</form>
				</div>
			</div>
		</div>
	</header>