{% extends 'main/base.html' %}
{% load static %}
{% block body %}


	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-center">
					<div class="banner_content">
						<p>Plan a trip to Santorini Village</p>
						<h2>Taxa Adventure</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start Feature Area =================-->
	{% include 'tour/categories_for_home.html' %}
	<!--================ End Feature Area =================-->

	<!--================ Start CTA Area =================-->
	<div class="cta-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<h1>Get Ready for
						Real time Adventure</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
						ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
					</p>
					<a href="{% url 'booking' %}" class="primary-btn">Book a Trip</a>
				</div>
				<div class="offset-lg-1 col-lg-6">
					<img class="cta-img img-fluid" src="{% static 'img/cta-img.png' %}" alt="">
				</div>
			</div>
		</div>
	</div>
	<!--================ End CTA Area =================-->

	<!--================ Start Trip Package Area =================-->
	{% include 'famous/famous.html' %}
	<!--================ End Trip Package Area =================-->

	<!--================ Start Popular Places Area =================-->
    {% include 'popular places/popular_places.html' %}
	<!--================ End Popular Places Area =================-->

	<!--================Team Area =================-->
    {% include 'Members/members.html' %}
	<!--================End Team Area =================-->

	<!--================ Start CTA Area =================-->

	<!--================ End CTA Area =================-->

	<!--================ Start Testimonials Area =================-->
	{% include 'testimonails/otzivi.html' %}
	<!--================ End Testimonials Area =================-->

	<!--================ Start Blog Area =================-->
	<section class="home-blog-area">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="main_title">
						<p>We’re Offering these Trip Packages</p>
						<h1>Last Tours</h1>
						<span class="title-widget-bg"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single-blog -->
                {% for tour in last_tours %}
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-blog">
						<div class="blog-thumb">
                            <a href="{% url 'tour_detail' tour.id %}"><img class="img-fluid" src="{{ tour.photo.url }}" alt=""></a>
						</div>
						<div class="blog-details">
							<div class="blog-meta d-flex">
								<p>
									<a href="#">
										<span class="fa fa-calendar"></span>
										{{ tour.created }}
									</a>
								</p>
								<p>
									<a href="#">
										<span class="fa fa-heart-o"></span>
										{{ tour.comments.count }}
									</a>
								</p>
								<p>
									<a href=""></a>
								</p>
							</div>
							<h5>
								<a href="{% url 'tour_detail' tour.id %}">{{ tour.title }}</a>
							</h5>
							<p>{{ tour.text|truncatewords:15 }}</p>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</section>
	<!--================ End Blog Area =================-->
{% endblock %}