{% extends 'main/base.html' %}

{% load static %}

{% block body %}

<!--================ Start Header Menu Area =================-->

<!--================ End Header Menu Area =================-->

<!--================Home Banner Area =================-->
<section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content">
                <div class="page_link">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'packages' %}">Packages</a>
                </div>
                <h2>Trip Packages</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Trip Package Area =================-->
{% include 'famous/famous.html' %}
<!--================ End Trip Package Area =================-->

<!--================ Start Popular Places Area =================-->
{% include 'popular places/popular_places.html' %}
<!--================ End Popular Places Area =================-->

<!--================ Start Feature Area =================-->
{% include 'tour/categories_for_home.html' %}
<!--================ End Feature Area =================-->

<!--================ Start CTA Area =================-->

<!--================ End CTA Area =================-->

<!--================  start footer Area =================-->

<!--================ End footer Area =================-->


{% endblock %}