<section class="package-area section_gap_top">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="ol-lg-12">
					<div class="main_title">
						<p>We’re Offering these Trip Packages</p>
						<h1>Famous Trips Packages</h1>
						<span class="title-widget-bg"></span>
					</div>
				</div>
			</div>
			<div class="row">
                {% for tour in famous %}
				<div class="col-lg-4 col-md-6">
					<div class="single-package">
						<div class="thumb">
							<img class="img-fluid" src="{{ tour.photo.url }}" alt="">
						</div>
						<p class="date"><span>{{ tour.start_day }}</span> <br> {{ tour.start_month }}</p>
						<div class="meta-top d-flex">
							<p><span class="fa fa-location-arrow"></span> {{ tour.title }}</p>
							<p class="ml-20"><span class="fa fa-calendar"></span> {{ tour.how_many_days }}</p>
						</div>
						<h4>{{ tour.text|truncatewords:3 }}</h4>
						<p>
							{{ tour.description|truncatewords:10 }}
						</p>
						<a href="{% url 'tour_detail' tour.id %}" class="primary-btn">Read More</a>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</section>