.team_item .img-fluid {
    max-width: 100%;
    height: 275px;
}
.single-popular-places .popular-places-img:before {
    content: "";
    background: transparent;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 245px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}