{#{% if users.has_other_pages %}#}
{#    <ul class="pagination">#}
{#        {% if users.has_previous %}#}
{#            <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>#}
{#        {% else %}#}
{#            <li class="disabled"><span>&laquo;</span></li>#}
{#        {% endif %}#}
{#        {% for i in users.paginator.page_range %}#}
{#            {% if users.number == i %}#}
{#                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#            {% else %}#}
{#                <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        {% if users.has_next %}#}
{#            <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>#}
{#        {% else %}#}
{#            <li class="disabled"><span>&raquo;</span></li>#}
{#        {% endif %}#}
{#    </ul>#}
{#{% endif %}#}

<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        <li class="page-item">
            {% if page.has_previous %}
                <a href="?page={{ page.previous_page_number }}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">
                        <span class="lnr lnr-chevron-left"></span>
                    </span>
                </a>
            {% endif %}
        </li>
        {% for i in page.paginator.page_range %}
            {% if page.number == i %}

                <li class="page-item active"><a href="#" class="page-link">{{ i }}</a></li>
{#                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
            {% else %}
{#                <li><a href="?page={{ i }}">{{ i }}</a></li>#}
                <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {#        <li class="page-item"><a href="#" class="page-link">03</a></li>#}
        {#        <li class="page-item"><a href="#" class="page-link">04</a></li>#}
        {#        <li class="page-item"><a href="#" class="page-link">09</a></li>#}
        <li class="page-item">

            {% if page.has_next %}

                <a href="?page={{ page.next_page_number }}" class="page-link" aria-label="Next">
                    <span aria-hidden="true">
                        <span class="lnr lnr-chevron-right"></span>
                    </span>
                </a>
            {% endif %}
        </li>
    </ul>
</nav>