<section class="feature-area section_gap_top">
		<div class="container">
			<div class="row align-items-end justify-content-left">
				<div class="col-lg-12">
					<div class="main_title">
						<p>We’re Offering these Popular Services</p>
						<h1>Getting Adventure with Services</h1>
						<span class="title-widget-bg"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single-feature -->
                {% for category in all_category %}
				<div class="col-lg-3 col-md-6">
					<div class="single-feature">
						<div class="feature-details">
							<h5>{{ category.category }}</h5>
							<p>
								{{ category.description|truncatewords:10 }}
							</p>
							<a href="{% url 'category_detail' category.id %}" class="primary-btn mb-40">Read More</a>
						</div>
						<div class="feature-thumb">
							<img class="img-fluid" src="{{ category.photo.url }}" alt="">
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</section>