{% extends 'main/base.html' %}

{% load static %}

{% block body %}
    	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-center">
					<div class="banner_content">
						<p>Plan a trip to Santorini Village</p>
						<h2>Taxa Adventure</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="{{category.photo.url}}" style="width: 500px !important;" alt="...">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>{{ category.category }}</h2>
                            <p class="excert">
                              {{ category.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}