<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            {% for category in all_category %}
            <div class="col-lg-3">
                <div class="categories_post">
                    <a href="{% url "tour_list_by_category" category.id %}"><img src="{{ category.photo.url }}" alt="post"></a>
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="{% url "tour_list_by_category" category.id %}"><h5>{{ category.category }}</h5></a>
                            <div class="border_line"></div>
                            <p>{{ category.description|truncatewords:4 }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>