<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title">Tour Categories</h4>
    <ul class="list cat-list">
        {% for category in all_category %}
            <li><a href="{% url "tour_list_by_category" category.id %}">{{ category }}</a></li>
        {% endfor %}
        <li><a href="{% url 'tourlist' %}">All tours</a></li>
    </ul>
    <div class="br"></div>
</aside>