{% extends 'main/base.html' %}
{% load static %}
{% block body  %}
    <section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content">
                <div class="page_link">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'contact' %}">Contact</a>
                </div>
                <h2>Contact</h2>
            </div>
        </div>
    </div>
</section>
    <section class="contact_area section_gap">
    <div class="container">
        <a class="dg-widget-link" href="http://2gis.kg/bishkek/firm/70000001033531208/center/74.59907770156862,42.87629432212129/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Бишкека</a><div class="dg-widget-link"><a href="http://2gis.kg/bishkek/firm/70000001033531208/photos/70000001033531208/center/74.59907770156862,42.87629432212129/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a></div><div class="dg-widget-link"><a href="http://2gis.kg/bishkek/center/74.599027,42.875843/zoom/16/routeTab/rsType/bus/to/74.599027,42.875843╎Pandora flowers, салон цветов?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Pandora flowers, салон цветов</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":640,"height":600,"borderColor":"#a3a3a3","pos":{"lat":42.87629432212129,"lon":74.59907770156862,"zoom":16},"opt":{"city":"bishkek"},"org":[{"id":"70000001033531208"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>        <div class="row">
            <div class="col-lg-3">
                <div class="contact_info">
                    {% for contact in contact_list %}
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>{{ contact.address }}</h6>
                        <p>{{ contact.address_text }}</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="#">{{ contact.number }}</a></h6>
                        <p>{{ contact.number_text }}</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="#">{{ contact.email }}</a></h6>
                        <p>{{ contact.email_text }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-9">
                <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                      novalidate="novalidate">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="Enter email address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject"
                                   placeholder="Enter Subject">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="1"
                                      placeholder="Enter Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="primary-btn text-uppercase">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}