<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            {% for tour in last_tours %}
            <div class="col-lg-4">
                <div class="categories_post">
                    <a href="{% url 'tour_detail' tour.id %}"><img src="{{ tour.photo.url }}" alt="post"></a>
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="{% url 'tour_detail' tour.id %}"><h5>{{ tour.title }}</h5></a>
                            <div class="border_line"></div>
                            <p>{{ tour.text|truncatewords:4 }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>