{% extends 'main/base.html' %}
{% load static %}
{% block body %}
    <section class="banner_area ">
        <div class="banner_inner overlay d-flex align-items-center">
            <div class="container">
                <div class="banner_content">
                    <div class="page_link">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'tourlist' %}">Tours</a>
                    </div>
                    <h2>Tours</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% for item in results %}
                            <article class="row blog_item">
                                <div class="col-md-3">
                                    <div class="blog_info text-right">
                                        <ul class="blog_meta list">
                                            <li><a href="#">{{ item.created }}<i class="lnr lnr-calendar-full"></i></a>
                                            </li>
                                            <li><a href="#">Views {{ item.views }}<i class="lnr lnr-eye"></i></a></li>
                                            <li><a href="#">Comments {{ item.comments.count }}<i
                                                    class="lnr lnr-bubble"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <a href="{% url 'tour_detail' item.id %}"><img src="{{ item.photo.url }}"
                                                                                       style="..." alt="..."/></a>
                                        <div class="blog_details">
                                            <a href="{% url 'tour_detail' item.id %}">
                                                <h2>{{ item.title }}</h2>
                                            </a>
                                            <p>{{ item.text|truncatewords:30|linebreaks }}</p>
                                            <a href="{% url 'tour_detail' item.id %}" class="blog_btn">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}