{% extends 'main/base.html' %}
{% load static %}
{% block body  %}
<section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content">
                <div class="page_link">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'tourlist' %}">Tours</a>
                </div>
                <h2>Tours</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Categorie Area =================-->
{% include 'tour/categories_info.html' %}
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                {% if tag %}
                    <h2>Tours tagged with "{{ tag.name }}"</h2>
                {% endif %}
                    {% for item in tours %}
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a class="active" href="#"></a>
                                    <p class="tags">
                                        Tags:
                                        {% for tag in all_tags %}
                                            <a href="{% url "tour_list_by_tag" tag.slug %}">
                                                {{ tag }}
                                            </a>
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">{{ item.created }}<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">Views {{ item.views }}<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">Comments {{ item.comments.count }}<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <a href="{% url 'tour_detail' item.id %}"><img src="{{ item.photo.url }}" style="..." alt="..."/></a>
                                <div class="blog_details">
                                    <a href="{% url 'tour_detail' item.id %}">
                                        <h2>{{ item.title }}</h2>
                                    </a>
                                    <p>{{ item.text|truncatewords:30|linebreaks }}</p>
                                    <a href="{% url 'tour_detail' item.id %}" class="blog_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                {% include 'pagination.html' with page=tours %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Tours</h3>
                        {% for tour in popular_tours %}
                            <div class="media post_item">
                                <a href="{% url 'tour_detail' tour.id %}"><img src="{{ tour.photo.url }}" alt="post" width="120px"></a>
                                <div class="media-body">
                                    <a href="{% url 'tour_detail' tour.id %}">
                                        <h3>{{ tour.title }}</h3>
                                    </a>
                                    <p>{{ tour.created }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                        <div class="br"></div>
                    </aside>
                {% include 'tour/categories_for_filter.html' %}
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            {% for tag in all_tags %}
                                <li><a href="{% url "tour_list_by_tag" tag.slug %}">{{ tag }}</a></li>
                            {% endfor %}
                        <li><a href="{% url 'tourlist' %}">All tours</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}