{% extends 'main/base.html' %}

{% load static %}

{% block body %}
    <section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content">
                <div class="page_link">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'tourlist' %}">Tours</a>
                    <a href="{% url 'tour_detail' tour.pk %}">Tour Details</a>
                </div>
                <h2>Tour Details</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="{{tour.photo.url}}" style="width: 500px !important;" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <div class="post_tag">
                                {{ tour.category }}
                            </div>
                            <ul class="blog_meta list">
                                <li><a href="#">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                <li><a href="#">{{ tour.created }}<i class="lnr lnr-calendar-full"></i></a></li>
                                <li><a href="#">Views {{ tour.views }}<i class="lnr lnr-eye"></i></a></li>
                                <li><a href="#">Comments {{ comment_count }}<i class="lnr lnr-bubble"></i></a></li>
                            </ul>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>{{ tour.title }}</h2>
                        <p class="excert">
                          {{ tour.text }}
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <div class="quotes">
                            {{ tour.description }}
                        </div>
                        <div class="row">
                            {% for image in tour.images.all %}
                                <div class="col-6">
                                    <img class="img-fluid" src="{{image.images.url}}" alt="">
                                </div>
                            {% endfor %}
                            <div class="col-lg-12 mt-25">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>{{ comment_count }} Comments</h4>
                    {% for comment in comments %}
                       <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                {% for photo in customuser.photo.all %}
                                    <div class="thumb">
                                        <img src="" alt="{{ photo.photo.url }}" width="130px">
                                    </div>
                                {% endfor %}
                                <div class="desc">
                                    <h5><a href="#">{{ comment.name }}</a></h5>
                                    <p class="date">{{ comment.date }}</p>
                                    <p class="comment">
                                        {{ comment.text }}
                                    </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <a href="" class="btn-reply text-uppercase">reply</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="comment-form">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting moderation
                        </div>
                    {% else %}
                        {% if user.is_authenticated %}
                        <h4>Leave a comment</h4>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" id="Text" placeholder="Text"
                                       onblur="this.placeholder = '{{ comment_form.text }}'">
{#                                {{ form_widget(comment_form.text, {'attr': {'class': 'form-control'}}) }}#}
                                <input type="submit" value="Post Comment" class="primary-btn" placeholder="Message"
                                       onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Message'">
                            </div>
                        </form>
                        {% else %}
                            <hr>
                            <form class="form-inline ml-auto">
                                <a href="{% url 'login' %}" class="btn btn-outline-secondary">
                                    Log In</a>
                                <a href="{% url 'signup' %}" class="btn btn-primary ml-4">
                                    Sign up</a>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Tours</h3>
                        {% for tour in popular_tours %}
                            <div class="media post_item">
                                <a href="{% url 'tour_detail' tour.id %}"><img src="{{ tour.photo.url }}" alt="post" width="120px"></a>
                                <div class="media-body">
                                    <a href="{% url 'tour_detail' tour.id %}">
                                        <h3>{{ tour.title }}</h3>
                                    </a>
                                    <p>{{ tour.created }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                        <div class="br"></div>
                    </aside>
                {% include 'tour/categories_for_filter.html' %}
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            {% for tag in all_tags %}
                                <li><a href="{% url "tour_list_by_tag" tag.slug %}">{{ tag }}</a></li>
                            {% endfor %}
                        <li><a href="{% url 'tourlist' %}">All tours</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}