<section class="popular-places-area section_gap_bottom">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="main_title">
                    <p>We’re Offering these Trip Packages</p>
                    <h1>Popular Places in the Kyrgyzstan</h1>
                    <span class="title-widget-bg"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-places-slider owl-carousel">
        {% for tour in popular_tours %}
        <div class="single-popular-places">
            <div class="popular-places-img">
                <img src="{{ tour.photo.url }}" alt="">
            </div>
            <div class="popular-places-text">
                <a href="single-blog.html">
                </a>
                <p>{{ tour.title }}</p>
                <h4>
                    {{ tour.text|truncatewords:4 }}
                </h4>
            </div>
        </div>
        {% endfor %}
        <div class="single-popular-places">
            <div class="popular-places-img">
                <img src="img/places/p2.jpg" alt="">
            </div>
            <div class="popular-places-text">
                <a href="single-blog.html">
                </a>
                <p>Proper Guided Tour</p>
                <h4>
                    Santorini Island Dream Holiday
                    and Fun package
                </h4>
            </div>
        </div>
        <div class="single-popular-places">
            <div class="popular-places-img">
                <img src="img/places/p3.jpg" alt="">
            </div>
            <div class="popular-places-text">
                <a href="single-blog.html">
                </a>
                <p>Proper Guided Tour</p>
                <h4>
                    Santorini Island Dream Holiday
                    and Fun package
                </h4>
            </div>
        </div>
        <div class="single-popular-places">
            <div class="popular-places-img">
                <img src="img/places/p4.jpg" alt="">
            </div>
            <div class="popular-places-text">
                <a href="single-blog.html">
                </a>
                <p>Proper Guided Tour</p>
                <h4>
                    Santorini Island Dream Holiday
                    and Fun package
                </h4>
            </div>
        </div>
    </div>
</section>