<section class="testimonials-area section_gap_bottom">
    <div class="container">
        <div class="testi-slider owl-carousel" data-slider-id="1">
            {% for comment in comments_texts %}
            <div class="item">
                <div class="testi-item">
                    <img src="img/quote.png" alt="">
                    <h4>Fanny Spencer</h4>
                    <ul class="list">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <p>
                            {{ comment }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid rounded-circle" src="img/testimonial/t1.jpg" alt="">
                </div>
                <div class="overlay overlay-grad "></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid rounded-circle" src="img/testimonial/t2.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid rounded-circle" src="img/testimonial/t3.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
            <div class="owl-thumb-item">
                <div>
                    <img class="img-fluid rounded-circle" src="img/testimonial/t4.jpg" alt="">
                </div>
                <div class="overlay overlay-grad"></div>
            </div>
        </div>
    </div>
</section>